<h1 class="mb-5" align="center">All Posts</h1>
<div class="container">
        <div class="row">

<% @posts.each do |post| %>
        <div class="col-6">
            <div class="card card-body bg-light ">
                <div class="post-title">
                    <%= link_to post.title, post_path(post)%>
                </div>
                <div class="post-body">
                    <%= post.body%>
                </div>

                <div class="post-actions">
                    <%= link_to 'Delete this post', post_path(post), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-sm btn-danger ml-1"%>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>